
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro Interno do Servidor - 500</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Desculpe, algo deu errado.</h1>
    </header>
    <main>
        <p>Ocorreu um erro no servidor. Estamos trabalhando para resolver isso.</p>
        <a href="/" class="btn-primary">Voltar para a Home</a>
    </main>
</body>
</html>
