
{% extends 'base.html' %}

{% block title %}Sobre Mim{% endblock %}

{% block content %}
    <h2>Sobre Mim</h2>
    <p>Bem-vindo! Sou Ana Carolina, uma analista de dados apaixonada por tecnologia e escrita. Este blog é um reflexo das minhas experiências e aprendizados ao longo da vida.</p>
    <p>Desde pequena, sempre gostei de explorar o mundo da programação e da criatividade. Acredito que a tecnologia pode ser uma ferramenta poderosa para transformar ideias em realidade.</p>
    <p>Além de programar, adoro escrever sobre tudo o que me inspira. 
    <p>Este blog é um espaço onde compartilho minhas reflexões, dicas e experiências, com a esperança de que possam ajudar outras pessoas.</p>
    <p>O mais interessante é que este não é apenas um blog meu. Ele é feito por todos que têm algo a dizer! Se você também tem histórias, pensamentos ou dicas que gostaria de compartilhar, crie uma conta e comece a postar. Juntos, podemos criar um lugar de troca e crescimento!</p>
    <p>Fique à vontade para explorar, comentar e se conectar com outras pessoas que compartilham interesses semelhantes. Afinal, todos têm algo único para contribuir!</p>
{% endblock %}


